<td>
  <%= link_to user.email, user %>
</td>
  <%= simple_form_for(user) do |f| %>
    <td>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    </td>

    <td>
      <%# user.fabs.build %>
      <div class="nested-fields"</div>
        <%= f.nested_fields_for :fabs do |builder| %>
          <%= render 'fab_fields', :f => builder %>
        <% end %>
      </div>

      <%= f.add_nested_fields_link :fabs %>

      <%# link_to_add_association '+', f, :fabs %>
      <%# f.link_to_add "+", :fabs %>
      <%# button_tag "+", onclick: "javascript: alert('hi');" %>

    </td>

    <td>
      <%= f.submit 'Submit', :class => 'button-xs' %>
    </td>

  <% end %>
</td>

<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
